<ion-view view-title="Novo Exercício">
  <ion-content>
  <form ng-submit="cadastrarExercicio()">
      <div class="list">
        <label class="item item-input">
          <span class="input-label">Nome</span>
          <input type="text" ng-model="exercicio.nome">
        </label>
        <div class="list">
          <label class="item item-input item-select">
            <div class="input-label">
              Tipo
            </div>
            <select ng-model="exercicio.tipo">
              <option selected>Braço</option>
              <option>Perna</option>
              <option>Tronco</option>
              <option>Aeróbico</option>
            </select>
          </label>
        </div>
        <div class="row">
              <label>Dias</label>
              <div class="col">
                  <ion-checkbox ng-model="exercicio.day.monday">Segunda</ion-checkbox>
              </div>
              <div class="col">
                  <ion-checkbox ng-model="exercicio.day.thuesday">Terça</ion-checkbox>
              </div>
              <div class="col">
                  <ion-checkbox ng-model="exercicio.day.wednesday">Quarta</ion-checkbox>
              </div>
              <div class="col">
                  <ion-checkbox ng-model="exercicio.day.thursday">Quinta</ion-checkbox>
              </div>
              <div class="col">
                  <ion-checkbox ng-model="exercicio.day.friday">Sexta</ion-checkbox>
              </div>
              <div class="col">
                  <ion-checkbox ng-model="exercicio.day.saturday">Sábado</ion-checkbox>
              </div>
              <div class="col">
                  <ion-checkbox ng-model="exercicio.day.sunday">Domingo</ion-checkbox>
              </div>
        </div>
      </div>
    </form>
    <div class="list">
        <form role="form"  ng-submit="addTodo(todo)">
          <div class="item item-input-inset">
            Repetições 
            <label class="item-input-wrapper"> 
              <input type="text" ng-model="todo">
            </label>
            <button class="button button-small button-positive" type="submit" value="add" ng-disabled="!todo">
              Adicionar
            </button>
          </div>
        </form>
    </div>

    <div class="list" ng-repeat="todo in todos">
      <div class="item item-button-right">
        {{todo}}
        <button class="button button-positive" ng-click="removeTodo($index)">
          <i class="icon ion-minus-circled"></i>
        </button>
      </div>
    </div>


    <form ng-submit="cadastrarExercicio()">
      <div class="list">     
        <label class="item">
          <button class="button button-block button-positive" type="submit">Salvar</button>
        </label>
      </div>
    </form>
  </ion-content>
</ion-view>