/* Empty. Add your own CSS if you like */
.centralizado-msg {
	text-align: center;
	text-indent: center;
	color: red;
}

.error{
	color: #D8000C;
	padding: 15px 10px 15px 50px;
}

.sobre-centro {
	margin-left: auto; margin-right: auto; display: block;
}

.col-borda{
	padding: 5px;
	width: 100%;
	border: 1px solid #DDD;
	border-radius: 2px;
	background: #F7F7F7 none repeat scroll 0% 0%;
	text-align: center;
}

.imc {
	font-family: sans-serif;
	font-size: 20px;
	font-style: bold italic;
	text-align: center;
}

.checkbox input, .checkbox-icon {
  display: inline-block;
  vertical-align: middle;
}

.entry:not(:first-of-type)
{
    margin-top: 10px;
}

.glyphicon
{
    font-size: 12px;
}